.MuiDrawer-paper {
    background-color: #ffffff !important;
    color: #242424 !important;
    flex-direction: row !important;
    display: flex !important;
    height: 100% !important;
    width: 185px;
    border-radius: 10px !important;
}

.MuiList-root {
    position: absolute !important;
    margin-top: 30px !important;
}

.dashboard-main {
    background-color: #F6F5F2;
    gap: 200px;
    margin-left: 179px;

}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 45px;
    background-color: #F6F5F2;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 130px;
    background-color: #F6F5F2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
    margin-right: 120px;
    background-color: #F6F5F2;
}

.div3 {
    background-color: #F6F5F2;
    grid-area: 2 / 1 / 3 / 2;
}

.div4 {
    background-color: #F6F5F2;
    grid-area: 2 / 2 / 3 / 3;
}

.graphics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    margin-left: 110px;
    margin-top: 70px;
    background-color: #F6F5F2;
}

.card {
    height: 159px;
}

.MuiListItemButton-root:hover {
    background-color: #685cbc !important;
    color: #ffffff !important;
    width: 184px !important;
}

.MuiListItemButton-root {
    transition: background-color 0.3s, color 0.3s !important;
}

.MuiListItemIcon-root {
    min-width: 40px !important;
}

.title {
    font-size: 2.0em;
    line-height: 1.5;
    font-weight: bold;
    margin-left: 20px;
}

.about {
    text-align: center;
    font-size: 1.1em;
    max-width: 600px;
    margin: 30px auto;
    margin-left: 400px;
    color: #fefffe;
}

.content-container {
    margin-left: 179px;
    background-color: #F6F5F2;
}

.input {
    /* float: right; */
    margin-right: 20px;
    position: absolute;
    right: 200px;
}

.h1 {
    font-size: 1.8em;
    text-align: center;
    font-weight: bold;
    margin-left: 410px;
    color: #fefffe;
}

.background {
    height: 808px;
    width: 1404px;
    background-image: url("nosotros-uMov.png");
    background-size: cover;
}



.centered-chart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout {
    margin-top: 549px !important;
}

/* Se realiza un diseño responsive */
@media (max-width: 889px) {

    .title {
        font-size: 2.0em;
        line-height: 1.5;
        font-weight: bold;
        margin-left: 20px;
    }

    .graphics {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 12px;
        grid-row-gap: 12px;
        margin-left: 90px;
        margin-top: 20px;
    }

    .parent {

        grid-template-columns: 1fr;

    }


    .div1 {
        grid-area: unset;
        margin: 10%;
    }

    .div2,
    .div3,
    .div4 {
        margin: 0;
        grid-area: unset;
    }


    .about {
        margin-left: 0;
        text-align: center;
    }

    .h1 {
        margin-top: 10px;
        margin-left: 35%;
        text-align: center;
    }

    .background {
        width: 100%;
        height: auto;
    }

    .logout {
        margin-top: 560px !important;
    }
}

@media (max-width: 768px) {


    .title {
        font-size: 2.0em;
        line-height: 1.5;
        font-weight: bold;
        margin-left: 80px;
    }

    .graphics {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 12px;
        grid-row-gap: 12px;
        /* margin-left: 20px; */
        margin-top: 60px;
    }

    .parent {

        grid-template-columns: 1fr;
        /* margin-right: 100px; */

    }

    .div1 {
        grid-area: unset;
        margin: 10%;
    }

    .div2,
    .div3,
    .div4 {
        /* margin: 0; */
        grid-area: unset;
    }

    .content-container {
        margin-left: 120px;
    }

    .about {
        margin-left: 80px;
        text-align: center;
        width: 85%;
    }

    .h1 {
        margin-top: 10px;
        margin-left: 45%;
        text-align: center;
    }

    .background {
        width: 100%;
        height: auto;
    }

    .logout {
        margin-top: 500px !important;
    }
}

@media(min-width: 1920px) {
    .graphics {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 12px;
        grid-row-gap: 12px;
        margin-left: 300px;
        margin-top: 70px;
    }

    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        margin-top: 45px;
        margin-left: 200px;
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 2;
        margin-left: 130px;
    }

    .div2 {
        grid-area: 1 / 2 / 2 / 3;
        margin-right: 120px;
    }

    .div3 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .div4 {
        grid-area: 2 / 2 / 3 / 3;
    }


    .about {
        margin-left: 0;
        text-align: center;
    }

    .h1 {
        margin-top: 10px;
        margin-left: 38%;
        text-align: center;
    }

    .background {
        height: 1180px;
        width: 1920px;
        background-image: url("nosotros-uMov.png");
        background-size: cover;
    }

    .about {
        text-align: center;
        font-size: 1.5em;
        max-width: 800px;
        margin: 30px auto;
        margin-left: 550px;
        color: #fefffe;
    }

    .h1 {
        font-size: 2.3em;
        text-align: center;
        font-weight: bold;
        margin-left: 410px;
        color: #fefffe;
    }

    .title {
        font-size: 2.5em;
        line-height: 1.5;
        font-weight: bold;
        margin-left: 20px;
    }

    .logout {
        margin-top: 1080px !important;
    }
}